<div id="container" hidden>
<div id="stepProgressBar">
	<div id="step">
		<p id="step-text">Step 1</p>
		<div class="bullet">1</div>
	</div>
	<div id="step">
		<p id="step-text">Step 2</p>
		<div class="bullet">2</div>
	</div>
	<div id="step">
		<p id="step-text">Step 3</p>
		<div class="bullet">3</div>
	</div>
</div>
</div>
