<header>
  <nav>
    <ul>
      <div class="user-header-wrapper">
        <li><h1><img src="../../static/img/Nova-logo.png" alt=""></h1></li>
        <li>Match</li>
        <li>Profile</li>
      </div>
      <li><a href="/">Log out</a></li>
    </ul>
  </nav>
</header>
