<% include partials/index-head.ejs %>

<body>
  <div class="404">
    <h1>Error 404</h1>
    <p>We can't seem to find the page you are looking for!</p>
    <a href="/"><button type="button" name="button">Go back to homepage</button></a>
  </div>
</body>
