<% include partials/head.ejs %>

<body>
  <header>
    <h1>Chun</h1>
    <img src="static/img/DSC00177.jpg" alt="">
  </header>
  <section>
    <div class="wrap_head">
      <h2>My interest</h2>
      <a href="interest">
        <img src="static/img/settings.png" alt="">
      </a>
    </div>
    <article>
      <p>Test</p>
    </article>
  </section>
  <script src="script.js"></script>
</body>

</html>
