<% include partials/head.ejs %>

<body>
  <header>
    <h1>TanTan</h1>
  </header>
  <button type="button" name="sign-in"> Sign up</button>

  <a href="/sign-up"> <button type="button" name="log-in">Log in</button> </a>

  <script src="script.js"></script>
</body>
