<% include partials/index-head.ejs %>
<% include partials/header.ejs %>
<head>
  <title>Home</title>
</head>

<body class="index">
  <h2>It is time to level up your relationship!</h2>
  <p>The number one dating app for people that want to flirt while gaming!</p>
  <div class="button-container">
    <a href="/sign-up"><button type="button" name="button">Sign up now!</button></a>
  </div>
</body>
