<% include partials/index-head.ejs %>
<head>
  <title>Home</title>
</head>

<body>
  <h1>Time to level up your relationship!</h1>
  <p>The number one dating app for people that want to flirt while gaming!</p>
  <a href="/sign-up"><button type="button" name="button"></button></a>
  <a href="/log-in"><button type="button" name="button"></button></a>
</body>
