<% include partials/index-head.ejs %>
<head>
  <title>Log in</title>
</head>

<body>
  <h1>Nova</h1>
  <form>
    <label>Username <input type="text" name="email"></label>
    <label>Password <input type="password" name="password" ></label>


  </form>
  <button type="submit" name="log-in">Log in</button>
</body>
