<% include partials/index-head.ejs %>

<body>
  <h1>Tan Tan</h1>
  <form>
    <input type="text" name="email">
    <input type="password" name="password" >
  </form>
  <button type="submit" name="log-in">Log in</button>
</body>
