<% include partials/index-head.ejs %>
<% include partials/header.ejs %>
<head>
  <title>Log in</title>
</head>

<body class="log-in">
  <form method="POST" action="/log-in">
    <h1>Nova</h1>

    <div class="field">
      <input type="email" name="email" placeholder="User@gmail.com" required>
      <label>Email:</label>
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="password" required>
      <label>Password:</label>
    </div>

    <button type="submit">Log in</button>
  </form>
</body>
