<% include partials/index-head.ejs %>
<head>
  <title>Sign up to Nova</title>
</head>

<body>
  <form class="" action="/sign-up" method="post">
    <fieldset>
      <label for="name">Name:
        <input type="text" name="name">
      </label>
      <label for="age">Age:
        <input type="text" name="age">
      </label>
    </fieldset>
    <a href="/"><button type="submit" name="Submit">Submit</button></a>

  </form>
</body>
